@{
    ViewBag.Title = "Home Page";
}
    <html>
    <head>
        <title>
            Shopping Cart: @ViewBag.Title
        </title>
        
       

    </head>
    <body>


        <h2 class="container text-primary">@ViewBag.Title</h2>
        <div class="container">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/img/indian.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">ABC</p>
                    <button>Buy</button>
                </div>
            </div>
        </div>

    </body>
    


    </html>
